main{
    display: flex;
    
}
body{
    background-image: url(../images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color:hsl(257, 40%, 49%);
    display:flex;
    flex-direction:column;
    align-items: center;
    align-content: center;
    max-width: 1440px;
    margin: 0 auto;
}
.image{
    margin-left:30px;
}
.logo img{
    margin-left: 30px;
}
.description{
    padding: 50px;
    color: white;
}
.description h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 38px;
    line-height: 55px;
}
.description p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height:20px;
}
.description a{
    display: inline-block;
    margin-top: 15px;
    padding: 15px 50px 15px 50px;
    background-color: white;
    border-radius: 25px;
    color: hsl(300, 69%, 71%);
}
.description a:hover{
    background-color:hsl(300, 69%, 71%);
    color: white;
}

.social ul{
    display: block;
    margin-right: 50px;
    display:flex;
    justify-content: end;

}
.social i{
    color:white;
    border: 1px solid ;
    border-radius:30px;
    margin: 10px;
    padding: 5px;


}
.social i:hover{
    color:hsl(300, 69%, 71%);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    width: 100vw;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}
